@charset "UTF-8";
h4 {
  margin: 0 auto;
  text-align: center; }

@import 'blocks/button';
@import 'blocks/page';
@import 'blocks/window';
@import 'blocks/joystick';

input:focus {
  border: #35a5e5 1px solid;
  box-shadow: 0 0 5px #51cbee;
  -webkit-box-shadow: 0 0 5px #51cbee;
  -moz-box-shadow: 0 0 5px #51cbee;
  background: #EFF5FF; }
  /*max-aspect-ratio: 1600 / 1200*/

@media screen and (max-width: 480px) {
  .page {
    background-size: auto 100%; } }
.indicator_style {
  width:300px;
  height:100px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-100px 0 0 -150px;
  background-color: green;
}
